* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: rgb(73, 82, 79);
    padding: 16px 0;
    color: rgb(82, 84, 255);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 
.articles article{
    margin-bottom: 16px;
}

.articles article h3 {
    margin top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blueviolet;
    color: black;
    padding: 8px;
    display: inline-block;
}

