body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

header {
    background-color: #220A44;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.transferencia {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.transferencia h3 {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.transferencia .valor {
    display: flex;
    justify-content: space-between;
    background-color: #666;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0;
}

.transferencia .info {
    color: #666;
    font-size: 14px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social img {
    width: 30px;
    height: 30px;
}
