html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(to right, #b394ec, #e79191);

}

h2,
h1,
h3 {
    text-shadow: 0 0 10px rgb(204, 0, 255);
}

.navbar {
    background-color: #000000;
}


#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffffff;
}

.section-title {
    font-family: Pacifico, cursive;
}

.text-colored {
    color: #8400ff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

